html, body, #map-canvas {
    /*height: 100%;*/
    margin: 0px;
    padding: 0px;
}

#map-canvas {
    height: 400px;
    position: inherit;
    /*top: 0;
    bottom: 0px;
    left: 0;
    right: 0;*/
    z-index: 0;
}

#locationList {
    float: none;
    width: 100%;
    z-index: 0;
    position: inherit;
    background: grey;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 1px;
}

h3 {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 0px;
}

li {
    display: inline-block;
    list-style-position: inside;
    border: 2px solid white;
    border-radius: 7px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}

#search {
    padding-left: 20%;
}

#input {
    width: 60%;
}

#iw-container .iw-title {
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}

#iw-container {
    max-width: 150px;
}

#rating {
    padding-top: 10px;
}

